doctype html
html
    head
        title The Gap Between
        style
            include assets/css/reset.css
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
        link(href="https://fonts.googleapis.com/css?family=Merienda|Satisfy" rel="stylesheet")

        style
            include assets/css/header.css
            include assets/css/content.css

    body
        include assets/components/header.pug
        include assets/components/content.pug

        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
        script(src="assets/js/menu.js")
