doctype html
html
    head
        title The Gap Between
        style
            include assets/css/reset.css
        link(rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(href="https://fonts.googleapis.com/css?family=Merienda|Satisfy" rel="stylesheet")
        link()
        style
            include assets/css/header.css
            include assets/css/content.css

    body
        include assets/components/header.pug
        include assets/components/content.pug
