div.header
    div.brand
        h1 The Gap
    div.navbar
        div.ion-ios-more.ion-ios-more-outline.menu.navtoggle

        div.menulist.hide
            ul
                li
                    a(href="#" class="button is-large") Home
                li
                    a(href="#" class="button is-large") About
                li
                    a(href="#" class="button is-large") Contact


div.content
    h1 Hello world
    p Things are moving forward!
