
// Primary Colors
$p-bcol : #EFD8E8
$p-tcol: #EF1C9D
// Primary Fonts
$p-font : 'Satisfy', sans-serif


// Default properties
=flex($type, $direction, $justify-content)
    display: $type
    flex-flow: $direction
    justify-content: $justify-content

=mksmpl($padding, $margin)
    padding: $padding
    margin: $margin
